#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# txt fajlovi
*.txt
TestEKS/eks-terraform/config_map_aws_auth.yaml
TestEKS/eks-terraform/k8s-eks-config
